<div class="seats-svg seats-svg--movie" style="overflow: hidden; user-select: none; touch-action: none">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="570"
    version="1.1"
    viewBox="0 0 346.0 120.0"
    width="1162.8"
    x="0px"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    y="0px"
    style="
      cursor: move;
      user-select: none;
      touch-action: none;
      transform-origin: 50% 50%;
      transition: none;
      transform: scale(1) translate(0px, 0px);
    "
  >
    <style type="text/css">
      .st0:hover {
        stroke: #ff9503;
      }
      .available {
        cursor: pointer;
      }
      .notAvailable {
        cursor: not-allowed;
      }
      .available text {
        fill-opacity: 1 !important;
      }
      .notAvailable circle {
        fill: #dcdcdc !important;
        stroke: #dcdcdc !important;
      }
      .notAvailable text {
        fill: #dcdcdc !important;
        stroke: #dcdcdc !important;
      }
      .chosen circle {
        fill-opacity: 0 !important;
      }
    </style>
    <g class="screen">
      <rect x="8" y="-5" width="calc(100% - 16px)" height="15" rx="2" fill="#EBEBEB" />
      <text font-size="5" x="50%" y="4">Экран</text>
    </g>
    <g class="places">
      <g class="row-indicator" transform="translate(0.0, 34.0)">
        <text font-size="5" text-anchor="middle" x="0" y="2">1</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=1]"
        data-level-id="1609"
        data-row="1"
        data-seat="1"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(84.0, 34.0)"
        data-available="0"
        class="unavailable"
      >
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">1</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=10]"
        data-level-id="1609"
        data-row="1"
        data-seat="10"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(237.0, 34.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">10</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=11]"
        data-level-id="1609"
        data-row="1"
        data-seat="11"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(254.0, 34.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">11</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=12]"
        data-level-id="1609"
        data-row="1"
        data-seat="12"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(271.0, 34.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">12</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=13]"
        data-level-id="1609"
        data-row="1"
        data-seat="13"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(288.0, 34.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">13</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=14]"
        data-level-id="1609"
        data-row="1"
        data-seat="14"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(305.0, 34.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">14</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=15]"
        data-level-id="1609"
        data-row="1"
        data-seat="15"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(322.0, 34.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">15</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=2]"
        data-level-id="1609"
        data-row="1"
        data-seat="2"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(101.0, 34.0)"
        data-available="0"
        class="unavailable"
      >
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">2</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=3]"
        data-level-id="1609"
        data-row="1"
        data-seat="3"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(118.0, 34.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">3</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=4]"
        data-level-id="1609"
        data-row="1"
        data-seat="4"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(135.0, 34.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">4</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=5]"
        data-level-id="1609"
        data-row="1"
        data-seat="5"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(152.0, 34.0)"
        data-available="1"
        class="seat-category-0 selectSeatAfisha_hoverSeat__A2XMk"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">5</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=6]"
        data-level-id="1609"
        data-row="1"
        data-seat="6"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(169.0, 34.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">6</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=7]"
        data-level-id="1609"
        data-row="1"
        data-seat="7"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(186.0, 34.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">7</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=8]"
        data-level-id="1609"
        data-row="1"
        data-seat="8"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(203.0, 34.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">8</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=1;p=9]"
        data-level-id="1609"
        data-row="1"
        data-seat="9"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(220.0, 34.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">9</text>
      </g>
      <g class="row-indicator" transform="translate(346, 34.0)">
        <text font-size="5" text-anchor="middle" x="0" y="2">1</text>
      </g>
      <g class="row-indicator" transform="translate(0.0, 51.0)">
        <text font-size="5" text-anchor="middle" x="0" y="2">2</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=1]"
        data-level-id="1609"
        data-row="2"
        data-seat="1"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(84.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">1</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=10]"
        data-level-id="1609"
        data-row="2"
        data-seat="10"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(228.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">10</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=11]"
        data-level-id="1609"
        data-row="2"
        data-seat="11"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(244.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">11</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=12]"
        data-level-id="1609"
        data-row="2"
        data-seat="12"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(260.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">12</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=13]"
        data-level-id="1609"
        data-row="2"
        data-seat="13"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(276.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">13</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=14]"
        data-level-id="1609"
        data-row="2"
        data-seat="14"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(292.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">14</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=15]"
        data-level-id="1609"
        data-row="2"
        data-seat="15"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(308.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">15</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=16]"
        data-level-id="1609"
        data-row="2"
        data-seat="16"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(324.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">16</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=2]"
        data-level-id="1609"
        data-row="2"
        data-seat="2"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(100.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">2</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=3]"
        data-level-id="1609"
        data-row="2"
        data-seat="3"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(116.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">3</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=4]"
        data-level-id="1609"
        data-row="2"
        data-seat="4"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(132.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">4</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=5]"
        data-level-id="1609"
        data-row="2"
        data-seat="5"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(148.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">5</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=6]"
        data-level-id="1609"
        data-row="2"
        data-seat="6"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(164.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">6</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=7]"
        data-level-id="1609"
        data-row="2"
        data-seat="7"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(180.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">7</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=8]"
        data-level-id="1609"
        data-row="2"
        data-seat="8"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(196.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">8</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=2;p=9]"
        data-level-id="1609"
        data-row="2"
        data-seat="9"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(212.0, 51.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">9</text>
      </g>
      <g class="row-indicator" transform="translate(346, 51.0)">
        <text font-size="5" text-anchor="middle" x="0" y="2">2</text>
      </g>
      <g class="row-indicator" transform="translate(0.0, 67.0)">
        <text font-size="5" text-anchor="middle" x="0" y="2">3</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=1]"
        data-level-id="1609"
        data-row="3"
        data-seat="1"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(84.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">1</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=10]"
        data-level-id="1609"
        data-row="3"
        data-seat="10"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(228.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">10</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=11]"
        data-level-id="1609"
        data-row="3"
        data-seat="11"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(244.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">11</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=12]"
        data-level-id="1609"
        data-row="3"
        data-seat="12"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(260.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">12</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=13]"
        data-level-id="1609"
        data-row="3"
        data-seat="13"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(276.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">13</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=14]"
        data-level-id="1609"
        data-row="3"
        data-seat="14"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(292.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">14</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=15]"
        data-level-id="1609"
        data-row="3"
        data-seat="15"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(308.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">15</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=16]"
        data-level-id="1609"
        data-row="3"
        data-seat="16"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(324.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">16</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=2]"
        data-level-id="1609"
        data-row="3"
        data-seat="2"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(100.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">2</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=3]"
        data-level-id="1609"
        data-row="3"
        data-seat="3"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(116.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">3</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=4]"
        data-level-id="1609"
        data-row="3"
        data-seat="4"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(132.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">4</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=5]"
        data-level-id="1609"
        data-row="3"
        data-seat="5"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(148.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">5</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=6]"
        data-level-id="1609"
        data-row="3"
        data-seat="6"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(164.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">6</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=7]"
        data-level-id="1609"
        data-row="3"
        data-seat="7"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(180.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">7</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=8]"
        data-level-id="1609"
        data-row="3"
        data-seat="8"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(196.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">8</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=3;p=9]"
        data-level-id="1609"
        data-row="3"
        data-seat="9"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(212.0, 67.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">9</text>
      </g>
      <g class="row-indicator" transform="translate(346, 67.0)">
        <text font-size="5" text-anchor="middle" x="0" y="2">3</text>
      </g>
      <g class="row-indicator" transform="translate(0.0, 83.0)">
        <text font-size="5" text-anchor="middle" x="0" y="2">4</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=1]"
        data-level-id="1609"
        data-row="4"
        data-seat="1"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(84.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">1</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=10]"
        data-level-id="1609"
        data-row="4"
        data-seat="10"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(228.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">10</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=11]"
        data-level-id="1609"
        data-row="4"
        data-seat="11"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(244.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">11</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=12]"
        data-level-id="1609"
        data-row="4"
        data-seat="12"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(260.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">12</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=13]"
        data-level-id="1609"
        data-row="4"
        data-seat="13"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(276.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">13</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=14]"
        data-level-id="1609"
        data-row="4"
        data-seat="14"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(292.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">14</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=15]"
        data-level-id="1609"
        data-row="4"
        data-seat="15"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(308.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">15</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=16]"
        data-level-id="1609"
        data-row="4"
        data-seat="16"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(324.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">16</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=2]"
        data-level-id="1609"
        data-row="4"
        data-seat="2"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(100.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">2</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=3]"
        data-level-id="1609"
        data-row="4"
        data-seat="3"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(116.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">3</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=4]"
        data-level-id="1609"
        data-row="4"
        data-seat="4"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(132.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">4</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=5]"
        data-level-id="1609"
        data-row="4"
        data-seat="5"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(148.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">5</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=6]"
        data-level-id="1609"
        data-row="4"
        data-seat="6"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(164.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">6</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=7]"
        data-level-id="1609"
        data-row="4"
        data-seat="7"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(180.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">7</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=8]"
        data-level-id="1609"
        data-row="4"
        data-seat="8"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(196.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">8</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=4;p=9]"
        data-level-id="1609"
        data-row="4"
        data-seat="9"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(212.0, 83.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">9</text>
      </g>
      <g class="row-indicator" transform="translate(346, 83.0)">
        <text font-size="5" text-anchor="middle" x="0" y="2">4</text>
      </g>
      <g class="row-indicator" transform="translate(0.0, 99.0)">
        <text font-size="5" text-anchor="middle" x="0" y="2">5</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=1]"
        data-level-id="1609"
        data-row="5"
        data-seat="1"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(84.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">1</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=10]"
        data-level-id="1609"
        data-row="5"
        data-seat="10"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(228.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">10</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=11]"
        data-level-id="1609"
        data-row="5"
        data-seat="11"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(244.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">11</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=12]"
        data-level-id="1609"
        data-row="5"
        data-seat="12"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(260.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">12</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=13]"
        data-level-id="1609"
        data-row="5"
        data-seat="13"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(276.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">13</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=14]"
        data-level-id="1609"
        data-row="5"
        data-seat="14"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(292.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">14</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=15]"
        data-level-id="1609"
        data-row="5"
        data-seat="15"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(308.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">15</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=16]"
        data-level-id="1609"
        data-row="5"
        data-seat="16"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(324.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">16</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=2]"
        data-level-id="1609"
        data-row="5"
        data-seat="2"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(100.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">2</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=3]"
        data-level-id="1609"
        data-row="5"
        data-seat="3"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(116.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">3</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=4]"
        data-level-id="1609"
        data-row="5"
        data-seat="4"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(132.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">4</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=5]"
        data-level-id="1609"
        data-row="5"
        data-seat="5"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(148.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">5</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=6]"
        data-level-id="1609"
        data-row="5"
        data-seat="6"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(164.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">6</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=7]"
        data-level-id="1609"
        data-row="5"
        data-seat="7"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(180.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">7</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=8]"
        data-level-id="1609"
        data-row="5"
        data-seat="8"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(196.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">8</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=5;p=9]"
        data-level-id="1609"
        data-row="5"
        data-seat="9"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(212.0, 99.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">9</text>
      </g>
      <g class="row-indicator" transform="translate(346, 99.0)">
        <text font-size="5" text-anchor="middle" x="0" y="2">5</text>
      </g>
      <g class="row-indicator" transform="translate(0.0, 115.0)">
        <text font-size="5" text-anchor="middle" x="0" y="2">6</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=1]"
        data-level-id="1609"
        data-row="6"
        data-seat="1"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(20.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">1</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=10]"
        data-level-id="1609"
        data-row="6"
        data-seat="10"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(164.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">10</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=11]"
        data-level-id="1609"
        data-row="6"
        data-seat="11"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(180.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">11</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=12]"
        data-level-id="1609"
        data-row="6"
        data-seat="12"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(196.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">12</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=13]"
        data-level-id="1609"
        data-row="6"
        data-seat="13"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(212.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">13</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=14]"
        data-level-id="1609"
        data-row="6"
        data-seat="14"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(228.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">14</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=15]"
        data-level-id="1609"
        data-row="6"
        data-seat="15"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(244.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">15</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=16]"
        data-level-id="1609"
        data-row="6"
        data-seat="16"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(260.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">16</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=17]"
        data-level-id="1609"
        data-row="6"
        data-seat="17"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(276.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">17</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=18]"
        data-level-id="1609"
        data-row="6"
        data-seat="18"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(292.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">18</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=19]"
        data-level-id="1609"
        data-row="6"
        data-seat="19"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(308.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">19</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=2]"
        data-level-id="1609"
        data-row="6"
        data-seat="2"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(36.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">2</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=20]"
        data-level-id="1609"
        data-row="6"
        data-seat="20"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(324.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">20</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=3]"
        data-level-id="1609"
        data-row="6"
        data-seat="3"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(52.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">3</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=4]"
        data-level-id="1609"
        data-row="6"
        data-seat="4"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(68.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">4</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=5]"
        data-level-id="1609"
        data-row="6"
        data-seat="5"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(84.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">5</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=6]"
        data-level-id="1609"
        data-row="6"
        data-seat="6"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(100.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">6</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=7]"
        data-level-id="1609"
        data-row="6"
        data-seat="7"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(116.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">7</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=8]"
        data-level-id="1609"
        data-row="6"
        data-seat="8"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(132.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">8</text>
      </g>
      <g
        data-area="03"
        data-id="[l=1609;f=0;r=6;p=9]"
        data-level-id="1609"
        data-row="6"
        data-seat="9"
        data-seat-types="36"
        data-ticket-types=""
        transform="translate(148.0, 115.0)"
        data-available="1"
        class="seat-category-0"
        data-tooltip-id="place-active-tooltip"
      >
        <circle r="8" x="0" y="-5" class="circle-hover"></circle>
        <circle r="5" x="0" y="-5"></circle>
        <text font-size="5" text-anchor="middle" x="0" y="2">9</text>
      </g>
      <g class="row-indicator" transform="translate(346, 115.0)">
        <text font-size="5" text-anchor="middle" x="0" y="2">6</text>
      </g>
    </g>
  </svg>
</div>
